@charset "utf-8";
/* CSS Document */
html, body{
	font-family: arial, verdana, sans-serif;
	font-size: 12px;
	padding: 0px;
	margin: 0px;

	background-color: #e3e3e3;
}
a:link{
	color: #000000;
	text-decoration: none;
}
a:visited{
	color: #000000;
	text-decoration: none;
}
a:hover{
	color: #000000;
	text-decoration: none;
}

textarea{
	width: 200px;
	height: 80px;
}


h1{

}
h2{

}
h3{
	font-size: 16px;
	color: #000000;
	margin-bottom: 5px;
}
h4{
	margin: 0px;
	padding: 0px;
	font-size: 13px;
	color: #000000;
	padding-top: 10px;
	
	padding-left: 3px;
	padding-right: 3px;
}

input, textarea, select{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
